.popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  .popUpBody {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    .popUpContent {
      background-color: white;
      color: black;
      width: 620px;
      padding: 30px;
      position: relative;
      .closePopUp {
        position: absolute;
        right: 20px;
        top: 20px;
        max-width: 20px;
      }
      .PopUpContentWrapper {
        display: flex;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .popUp {
    .popUpBody {
      width: 100%;
      .popUpContent {
        width: 460px;
        .PopUpContentWrapper {
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .popUp {
    .popUpBody {
      .popUpContent {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 0;
        .closePopUp {
          position: absolute;
          right: 15px;
          top: 15px;
          max-width: 20px;
        }
      }
    }
  }
}