.popUpPhotoBlock {
  margin: 0 15px 0 0;
  .photo {
    max-width: 330px;
  }
  
}

@media screen and (max-width: 530px) {
  .popUpPhotoBlock {
    margin: 0 auto;
    margin: 0 0px 15px 0; 
  }
}

@media screen and (max-width: 460px) {
  .popUpPhotoBlock {
    .photo {
      max-width: 100%;
    }
    
  }
}