@charset "UTF-8";
/*Обнуление всех отступов на странице*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Отображение семантических елементов как блочных*/
nav, footer, header, aside, ul {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/


.appWrapper {
  font-family: 'Roboto Condensed', sans-serif;
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    text-align: center;
    max-width: 730px;
    margin: 0 auto;
    .mainContent {
      flex: 1 1 auto;
    }
  }
  .popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    .popUpBody {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
      .popUpContent {
        background-color: white;
        color: black;
        width: 620px;
        padding: 30px;
        position: relative;
        .closePopUp {
          position: absolute;
          right: 20px;
          top: 20px;
          max-width: 20px;
        }
        .PopUpContentWrapper {
          display: flex;
          font-size: 13px;
          .popUpPhotoBlock{
            margin: 0 15px 0 0;
            .photo {
              width: 330px;
            }
            .comentForm {
              margin-top: 30px;
              max-width: 330px;
              .comentInput {
                width: 330px;
                height: 30px;
                background: #FFFFFF;
                border: 1px solid #CCCCCC;
                border-radius: 3px;
                margin-bottom: 20px;
                padding: 8px 10px;
              }
              .comentButton {
                width: 330px;
                height: 30px;
                background: #4997D0;
                border-radius: 3px;
                color: white;
              }
            }
          }
          .popUpComentsBlock {
            .popUpComentItem {
              margin-bottom: 20px;
              .comentDate {
                color: #999999;
              }
              .comentText {
                margin-top: 5px;
              }
            }

          }
        }
      }

    }

  }
}

