.popUpComentsBlock {
  max-height: 400px;
  overflow: auto;
  padding: 0 5px;
  flex: 1 1 auto;
  }

  @media screen and (max-width: 530px) {
    .popUpComentsBlock {
        align-self:flex-start;
        padding: 30px;
        .popUpComentItem {
          margin-bottom: 20px;
          width: 100%;
          .comentDate {
            color: #999999;
          }
          .comentText {
            margin-top: 5px;
          }
        }
      }
  }